.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2c63d1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(206, 53, 53);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.react-calendar__tile.day-complete {
  background-color: #a5d6a7 !important; /* Verde claro */
  color: black;
  border-radius: 8px;
}

.react-calendar__tile.day-half{
  background-color: #fff59d !important; /* Amarillo claro */
  color: black;
  border-radius: 8px;
}

.react-calendar__tile.day-partial {
  background-color: #ef9a9a !important; /* Rojo claro */
  color: black;
  border-radius: 8px;
}

.react-calendar__tile.day-incomplete {
  background-color: #ffffff !important; /* Rojo claro */
  color: black;
  border-radius: 8px;
}

/* Día actual */
.react-calendar__tile.today {
  border: 2px solid #1ac53756;
  border-radius: 10px;
}

/* Sábado y domingo */
.react-calendar__tile.weekend {
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
}